
@import './../app.component.scss';

section{
    @include dFlex($jc: space-between);
    @include atfBg();
    background-color: #141D2F !important;
    
    padding: 37px 100px 37px 100px;

    position: sticky;
    top: 0;
    z-index: 999;
        
    span{
        font-size: 28px;
    }

    a{
        color: white;
        font-size: 23px;
        margin-left: 29px;
    }
}





