<section id="atf">
  <div class="max-width-wrapper">
    <div class="atf">
      <div class="img-atf-container">
        <img class="img-atf" src="./../../assets/img/jpg/atf-img.png" alt="" />
      </div>

      <div class="text-atf">
        <div class="introduction">
          <span class="i-am"> I am </span>
          <div class="info-atf">
            <span class="name-atf"> Henrik Sorg </span>
            <span class="dev-atf"> Frontend Developer </span>
          </div>
        </div>
        <a href="#contact"><button>Let's Talk!</button></a>
      </div>
      <div class="purple-green-shadow-container">
        <img
          src="./../../assets/img/png/purple-green-atf.png"
          alt=""
          class="purple-green-shadow"
        />
        <div class="help-container"></div>
      </div>
    </div>
    <div class="below-atf" data-aos="fade-up" data-aos-duration="3000" id="trigger-left">
      <div class="contact-info">
        <div class="border-div"></div>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/henriksorg"
          ><img src="./../../assets/img/svg/git-hub.svg" alt="github"
        /></a>
        <a href="mailto:henrik@reif-sorg.de"
          ><img src="./../../assets/img/svg/email.svg" alt="email"
        /></a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="http://linkedin.com/in/henrik-sorg"
          ><img src="./../../assets/img/svg/linkedIn.svg" alt="linked in"
        /></a>
      </div>

      <div class="scroll-down">
        <div>
          <span>scroll-down</span>
          <img
            class="arrow-down"
            src="./../../assets/img/svg/arrow-down.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <img class="shape" src="./../../assets/img/png/shape.png" alt="" />
</section>
