<section id="about-me">
  <div class="info">
    <h2>About me</h2>
    <p>
      I am a web developer from near Stuttgart. Through working on many projects
      during my training, I have gained a lot of practical experience in the
      last year. In addition to my skills in web development, I also have
      experience in test stand automation with LabVIEW. Thanks to my experience
      with various programming languages, I have become a versatile software
      developer in a relatively short period of time.
    </p>
    <div class="personal-info">
      <img src="./../../assets/img/svg/light-bulb.svg" alt="personals" />
      <p>
        Every project is an important part of my journey in web development. It
        brings new ideas and I have a lot of fun creating them.
      </p>
    </div>

    <div class="personal-info">
      <img src="./../../assets/img/svg/puzzle-piece.svg" alt="skills" />
      <p>
        In my work as a web developer, I see each project as an opportunity to
        learn something new and get better. I enjoy meeting the various
        requirements and finding creative solutions.
      </p>
    </div>
  </div>
  <div class="img-and-border-container">
    <div class="img-container">
      <img src="./../../assets/img/png/profile-picture.png" alt="profile image" />
    </div>
    <div class="border-container"></div>
  </div>

  <img src="./../../assets/img/png/purple-shadow-about-me.png" class="purple-shadow" alt="" />
</section>