<section>
  <div>
    <h2>About me</h2>
    <p>
      Hi I am Frontend developer based near Stuttgart (...) Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Eum maiores provident maxime, quam
      perspiciatis earum totam laboriosam neque quidem consequuntur sint
      inventore. Qui provident eaque quisquam cumque animi! Perspiciatis,
      dolorem?
    </p>
    <div class="personal-info">
      <img src="./../../assets/img/svg/light-bulb.svg" alt="personals" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
        expedita exercitationem sit esse ex, totam veniam quod cum repellat a
        dignissimos. 
      </p>
    </div>

    <div class="personal-info">
        <img src="./../../assets/img/svg/puzzle-piece.svg" alt="skills" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          expedita exercitationem sit esse ex, totam veniam quod cum repellat a
          dignissimos. 
        </p>
      </div>
  </div>
  <div class="img-container">
    <img src="./../../assets/img/profile-img.png" alt="profile image" />
  </div>
</section>
