@import './../app.component.scss';

section{
    position: relative;
    @include dFlex($jc: space-between);
    @include atfBg();
    .img-atf{
        height: 705px;
        width: 646px;
    }
    background: #141D2F !important;

}

.text-atf{
    @include dFlex($fd:column);
    flex: 1;
}

.introduction{
    @include dFlex();
}

.info-atf{
    @include dFlex($fd:column);
}

.i-am{
    rotate: -90deg;
    font-size: 64px;
    font-weight: 400;
    text-wrap: nowrap;
}

.name-atf{
    font-size: 90px;
    text-wrap: nowrap;
    font-weight: 800;
}

.dev-atf{
    font-size: 58px;
    color: $pPurple;
    text-wrap: nowrap;
    margin-top: -25px 
}

button{
    background-color: $pGreen;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: all .2s;
    font-size: 23px;
    &:hover{
        transform: scale(1.15);
        background-color: $pPurple;
    }
}

.shape{
    position: absolute;
    left: 0; 
    height: 100vh;
    width: 100%;
    top: 514px;
    z-index: 2;
}

.below-atf{
    @include dFlex($jc: space-between, $ai:flex-end, $g: 32px);
    height: 125px;
    position: relative;
    z-index: 3;
}

.contact-info{
    @include dFlex($jc: flex-start, $g: 32px);
}

.border-div{
    width: 100px;
    height: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: $pPurple;
}

.scroll-down{
    transform: rotate(90deg);
    font-size: 24px;
    position: absolute;
    right: 0;
    bottom: 70px;
    span{
        

    }
    
}

.arrow-down{
    transform: rotate(270deg);
    margin-left: 8px;
}