<section>
  <img class="img-atf" src="./../../assets/img/profile-img.png" alt="" />
  <div class="text-atf">
    <div class="introduction">
      <span class="i-am"> I am </span>
      <div class="info-atf">
        <span class="name-atf"> Henrik Sorg </span>
        <span class="dev-atf"> Frontend Developer </span>
      </div>
    </div>
    <button>Let's Talk!</button>
  </div>
  <img class="shape" src="./../../assets/img/Shape.png" alt="">
</section>
<div class="below-atf">
  <div class="contact-info">
    <div class="border-div"></div>
    <a href="#"><img src="./../../assets/img/svg/git-hub.svg" alt="github"></a>
    <a href="#"><img src="./../../assets/img/svg/email.svg" alt="email"></a>
    <a href="#"><img src="./../../assets/img/svg/linkedIn.svg" alt="linked in"></a>
  </div>

  <div class="scroll-down">
    <div>
      <span>scroll-down</span>
      <img class="arrow-down" src="./../../assets/img/svg/arrow-down.svg" alt="">
    </div>
  </div>
</div>