@import './../../app.component.scss';

section {
    @include dFlex($jc: space-between);
    @include atfBg();
    background-color: unset;
    padding: 37px $edgeDistance 37px $edgeDistance;
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 25;
    background-color: #141D2F;

    span {
        font-size: 28px;
    }

    a {
        text-wrap: nowrap;
        color: white;
        font-size: 26px;
    }
}

.henrik-font {
    height: 40px;
}

.burger-menu {
    display: none;
}

mat-icon {
    transform: scale(3);
}
.menu-display{
    display: flex;
}
.navigate {
    margin-left: 100px;

    span {
        font-size: 50px !important;
    }
}

.navigate:after {
    transition: all ease-in-out 0.12s;
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    content: "";
    display: block;
    height: 3px;
    width: 0;
    margin-top: 4px;
}

.navigate:hover:after {
    width: 100%;
}


@media (max-width: 2000px) {
    section {
        padding: 37px $edgeDistance2000 37px $edgeDistance2000;
    }
}

@media (max-width: 700px) {
    section {
        padding: 37px $edgeDistanceMobile 37px $edgeDistanceMobile;
    }
}

@media (max-width: 1000px) {

    .menu-display {
        display: none;
    }

    .burger-menu {
        display: unset;
    }
}