@mixin dFlex($jc:center, $ai: center, $g: 0, $fd: row){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: $fd;
}

@mixin atfBg(){
    background-color: #141D2F;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

$pPurple: #9747FF;
$pGreen: #70E61C;
$edgeDistance: 300px;
$edgeDistanceMobile: 20px;
$edgeDistance2000: 100px;