<section>
    <div class="img-container">
        <img src="./../../../assets/img/png/el_pollo_loco.png" alt="pokedex">
    </div>
    <div class="description">
        <h3>El Pollo Loco</h3>
        <h4>Javascript | HTML | CSS</h4>
        <p>Through this game, I learned the basic principles of object-oriented programming.
            It's a jump and run game where Pepe uses his salsa bottles to beat small chickens and then 
            a big boss at the end.
        </p>
        <div class="button-container">
            <a href="./el-pollo-loco/index.html" target="_blank" rel="noopener noreferrer"><button class="live-test">Live Test</button></a>
            <a href="https://github.com/henriksorg/el_pollo_loco"  target="_blank" rel="noopener noreferrer"><button class="git-hub">Github</button></a>
        </div>
    </div>
</section>