@import './../app.component.scss';

section{
    @include dFlex($fd:column, $jc:flex-start, $ai:flex-start, $g:16px);
    padding: 200px $edgeDistance ;
    box-sizing: border-box;
    span{
        font-size: 24px;
    }
    .imprint{
        font-weight: 700;
        margin-bottom: 8px;
    }
}

@media (max-width: 2200px){
    section{
        padding: 100px $edgeDistance2000;
    }
}

@media (max-width: 700px){
    section{
        padding: 100px $edgeDistanceMobile;
    }
}