<section id="my-skills">
  <div class="icons-container">
    <div class="icons">
      <img src="./../../assets/img/svg/angular.svg" alt="" /><span>Angular</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/api.svg" alt="" /><span>Rest-Api</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/css.svg" alt="" /><span>CSS</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/firebase.svg" alt="" /><span>Firebase</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/git.svg" alt="" /><span>Git</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/html.svg" alt="" /><span>HTML</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/javascript.svg" alt="" /><span>JavaScript</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/material-design.svg" alt="" /><span>Material <br />Design</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/scrum.svg" alt="" /><span>Scrum</span>
    </div>
    <div class="icons">
      <img src="./../../assets/img/svg/typescript.svg" alt="" /><span>typeScript</span>
    </div>
  </div>

  <div class="text">
    <h2>My skills</h2>
    <p>
      {{'mySkills' | translate}}
    </p>
    <a href="#contact"><button>Get in touch</button></a>
  </div>

  <img src="./../../assets/img/png/green-my-skills.png" alt="" class="green-shadow">
  
</section>
