<section>
    <div class="img-container">
        <img src="./../../../assets/img/png/join.png" alt="pokedex">
    </div>
    <div class="description">
        <h3>Join</h3>
        <h4>Javascript | HTML | CSS</h4>
        <p>{{'join' | translate}}</p>
        <div class="button-container">
            <a href="./join/html/login.html" target="_blank" rel="noopener noreferrer"><button class="live-test">Live
                    Test</button></a>
            <a href="https://github.com/henriksorg?tab=repositories" target="_blank" rel="noopener noreferrer"><button
                    class="git-hub">Github</button></a>
        </div>
    </div>
</section>