@import './../../app.component.scss';

section{
    border-top: 4px solid $pGreen;    
    padding: 100px $edgeDistance;
}

.info{
    @include dFlex($jc:space-between);
}

.henrik-font{
    height: 40px;
}

.icons{
    @include dFlex($g:42px);
}

.icons a:hover{
    filter: drop-shadow(0px 0px .5px #FFFFFF);
}

.copyright{
    @include dFlex($g:4px);
}

.copyright-icon{
    filter: invert(1);
    height: 16px;
}

.imprint{
    font-size: 24px;
    color: white !important;
    :visited{
        color: white !important;
    }
    width: fit-content;
    margin-top: 8px;
}

.imprint a:after {
    transition: all ease-in-out 0.12s;
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    content: "";
    display: block;
    height: 3px;
    width: 0;
    margin-top: 4px;
}

.imprint a:hover:after {
    width: 100%;
}

@media (max-width: 900px){
    section{
        padding: 50px $edgeDistance2000 50px $edgeDistance2000;
    }
    .info{
        flex-direction: column;
        gap: 24px;
    }

    .imprint{
        width: 100%;
        text-align: center;
        margin-top: 24px;
    }
}

@media (max-width: 2200px){
    section{
        padding: 100px $edgeDistance2000 100px $edgeDistance2000;
    }
}

@media (max-width: 700px){
    section{
        padding: 50px $edgeDistanceMobile 50px $edgeDistanceMobile;
    }
}
