<section>
    <div class="info">
        <a href="#"><img class="henrik-font" src="./../../assets/img/png/henrik-font.png" alt="Henrik"></a>
    <div class="copyright"><img src="./../../assets/img/png/copyright.png" alt="" class="copyright-icon"><span>Henrik Sorg 2023</span></div>
    <div class="icons">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/henriksorg"><img src="./../../assets/img/svg/git-hub.svg" alt="github"></a>
        <a href="mailto:henrik@reif-sorg.de"><img src="./../../assets/img/svg/email.svg" alt="email"></a>
        <a target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/henrik-sorg"><img src="./../../assets/img/svg/linkedIn.svg" alt="linked in"></a>
    </div>
    </div>
    
    <div class="imprint"><a href="imprint">Imprint</a></div>
</section>