<section>
    <div class="img-container">
        <img src="./../../../assets/img/png/pokedex.png" alt="pokedex">
    </div>
    <div class="description">
        <h3>Pokedex</h3>
        <h4>Javascript | HTML | CSS | Api</h4>
        <p>{{'pokedex' | translate}}</p>
        <div class="button-container">
            <a href="./pokedex/index.html" target="_blank" rel="noopener noreferrer"><button class="live-test">Live
                    Test</button></a>
            <a href="https://github.com/henriksorg/pokedex" target="_blank" rel="noopener noreferrer"><button
                    class="git-hub">Github</button></a>
        </div>
    </div>
</section>