<section>
    <div class="img-container">
        <img src="./../../../assets/img/png/da_bubble.png" alt="pokedex">
    </div>
    <div class="description">
        <h3>Da Bubble</h3>
        <h4>Angular | Firebase</h4>
        <p>{{'dabubble' | translate}}</p>
        <div class="button-container">
            <a href="https://da-bubble.henrik-sorg.com" target="_blank" rel="noopener noreferrer"><button class="live-test">Live
                    Test</button></a>
            <a href="https://github.com/StephanieWetzel/DABubble" target="_blank" rel="noopener noreferrer"><button
                    class="git-hub">Github</button></a>
        </div>
    </div>
</section>